@model dev.sitecore.mvc.Models.DriverViewModel


<div class="highlight">

    Name: @Model.Driver.Name
    <br/>
    Text: @Model.Driver.Text
    <br/>
    content item name: @Model.ContextItem.Name
    <br/>
    background colour parameter: @Model.Background
</div>
